<div class="container mt-2">
<div class="mx-auto" style="width: 300px;">
   <%= flash[:notice] %>
<h1>投稿一覧</h1>
<tbody>


  <% @comments.each do |comment| %>

<tr>
   <td><%= link_to user_path(comment.user.id)  %></td>
  <td><%= link_to comment.title ,comment_path(comment.id)  %></td>
 <td><%= comment.body  %></td>

</tr>

<% end %>
  </tbody>
     </div>
     </div>
